/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */
/* div .resume { */
  /* margin: 0; */
  /* padding: 0; */
  /* border: 0; */
  /* font-size: 100%; */
  /* HTML5 display-role reset for older browsers */
  /* end of reset */
  /*uncomment to get dashes in the list*/
  /*li:before {
   content: "-";
   position: relative;
   left: -0.25em;
   }*/
/* } */
div .resume html, div .resume body, div .resume div, div .resume span, div .resume applet, div .resume object, div .resume iframe, div .resume h1, div .resume h2, div .resume h3, div .resume h4, div .resume h5, div .resume h6, div .resume p, div .resume blockquote, div .resume pre, div .resume abbr, div .resume acronym, div .resume address, div .resume big, div .resume cite, div .resume code, div .resume del, div .resume dfn, div .resume em, div .resume img, div .resume ins, div .resume kbd, div .resume q, div .resume s, div .resume samp, div .resume small, div .resume strike, div .resume strong, div .resume sub, div .resume sup, div .resume tt, div .resume var, div .resume b, div .resume u, div .resume i, div .resume center, div .resume dl, div .resume dt, div .resume dd, div .resume ol, div .resume ul, div .resume li, div .resume fieldset, div .resume form, div .resume label, div .resume legend, div .resume table, div .resume caption, div .resume tbody, div .resume tfoot, div .resume thead, div .resume tr, div .resume th, div .resume td, div .resume article, div .resume aside, div .resume canvas, div .resume details, div .resume embed, div .resume figure, div .resume figcaption, div .resume footer, div .resume header, div .resume hgroup, div .resume menu, div .resume nav, div .resume output, div .resume ruby, div .resume section, div .resume summary, div .resume time, div .resume mark, div .resume audio, div .resume video {
  font: inherit;
  /* vertical-align: baseline; */
  background-color: background-color;
}
div .resume article, div .resume aside, div .resume details, div .resume figcaption, div .resume figure, div .resume footer, div .resume header, div .resume hgroup, div .resume menu, div .resume nav, div .resume section {
  display: block;
}
div .resume body {
  line-height: 1;
}
div .resume ol, div .resume ul {
  list-style: none;
}
div .resume blockquote, div .resume q {
  quotes: none;
}
div .resume blockquote:before, div .resume blockquote:after, div .resume q:before, div .resume q:after {
  content: '';
  content: none;
}
div .resume table {
  border-collapse: collapse;
  border-spacing: 0;
}
div .resume body {
  font: normal normal 400;
  font-size: 100%;
  line-height: 1.5em;
  /*also written as...  font: normal normal 400 100%/1.5em;*/
  font-family: Avenir, Verdana, sans-serif;
  margin-top: 1em;
  margin-left: 1em;
}
div .resume p {
  position: relative;
  left: 25%;
  margin-bottom: 0.7em;
  font-size: .9em;
  margin-right: 0;
  width: 75%;
}
div .resume code {
  font: normal normal;
  font-size: 90%;
  /*line-height: 1em;*/
  font-family: Monaco, Menlo, monospace, sans-serif;
  color: #858585;
}
div .resume p code {
  position: absolute;
  text-align: right;
  right: -60%;
}
div .resume ul {
  position: relative;
  left: 25%;
  width: 75%;
  margin-bottom: 1em;
  margin-top: -0.5em;
}
div .resume li {
  /*second line indent*/
  /* padding-left: 1.25em; */
  /* text-indent: -1.25em; */
  /*color: #777;*/
  margin-top: .1em;
  font-size: .85em;

}
div .resume li ul {
  position: relative;
  /* left: 0; */
  /* width: 100%; */
  margin-top: 0.25em;
}
div .resume h1, div .resume h2, div .resume h3, div .resume h4 {
  font-weight: 400;
  font-family: Avenir, Cousine, Verdana, sans-serif;
  width: 80%;
}
div .resume h1 {
  text-align: left;
  font-size: 2em;
  line-height: .75em;
  position: relative;
  left: 25%;
}
div .resume h1 + p {
  /*subtitle*/
  font-style: italic;
  font-size: 110%;
}
div .resume h2 {
  font-size: 1.05em;
  color: #424242;
  margin-top: 1em;
  position: relative;
  top: 1.4em;
  text-align: right;
  width: 20%;
}
div .resume h3 {
  font-size: 1em;
  line-height: 2em;
  position: relative;
  top: 1.7em;
  text-align: right;
  width: 20%;
}
div .resume a {
  color: link-color;
  /*text-decoration:none*/
  text-decoration-color: #ff9100;
  text-decoration-style: double;
}
div .resume a:hover {
  color: navicon-link-color-hover;
}
div .resume #webaddress {
  margin-top: 1em;
  position: relative;
  left: 25%;
  color: #ff9100;
  font-family: Monaco, Menlo, monospace, sans-serif;
  font-size: 100%;
}
div .resume #webaddress a {
  text-decoration: none;
}
div .resume em {
  /* font-weight: bold; */
  font-style: italic;
}
div .resume strong {
  font-weight: bold;
}
div .resume #address {
  display: none;
}
